
/*-------------------- GENERALES Y MOBILE FIRST --------------------*/
*{box-sizing: border-box;}
html{scroll-behavior: smooth;}

body{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

h1{font-size: 2.5em;}
h2{font-size: 2.5em;}
h3{font-size: 1.7em;}
p{font-size: 1.25;}
.icon{width: 50px;}

button{
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    color: white;
    background-color: rgb(120, 68, 0);
}

button:hover{
    background-color: rgb(105, 52, 0);
    border: 1px solid rgba(200,200,200,.5);
}

a{
    padding: 5px 12px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline white;
}

.container{
    max-width: 1300px;
    margin: auto;
}


/*-------------------- HEADER --------------------*/
header{
    background-color: rgb(10,10,10);
    color: rgb(245,245,245);
}

.logo{
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo p{
    display: inline;
    margin: 0;
    margin-left: 10px;
    font-weight: 300;
    font-size: 1.6em;
}

.logo img{
    margin: 0;
    width: 30px;
    height: 30px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 15px;
}

/*-------------------- HERO --------------------*/
.hero{
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    height: 80vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    )
    ,url("../images/17013-4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.hero form button{
    margin-bottom: 5vh; 
    background-color: rgba(120, 68, 0, 0.734);
}

.hero form button:hover{
    background-color: rgb(105, 52, 0);
    border: 1px solid rgba(200,200,200,.5);
}
.hero-button{font-size: 3em;}

/*-------------------- SECCION DIOSES INDEX --------------------*/
.dioses{background-color: rgb(255, 251, 228);}
.dioses p{margin: 20px 0px; font-weight: 700;}
.dioses form button{margin-top: 8px;}
.dioses .container{text-align: center;}
.odin .container{padding: 15vh 3vh 5vh 3vh;}
.thor .container{padding: 5vh 3vh 15vh 3vh;}

/*-------------------- SECCION HEROES INFORMÁTICOS INDEX --------------------*/
#hI{
    background-color: rgb(10,10,10);
    color: white;
    text-align: center;
}

#hI .container{padding: 10vh 0px ;}
#hI h2{margin-top: 0;}
#hI p{display: none;}

#hI .heroes{
    background-size: cover;
    background-position: center center;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.heroes-jobs{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("../images/SteveJObs.jpg");
}

.heroes-turing{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("../images/wturing.jpg");
}
.heroes-gates{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("../images/GATES.jpg");
}


/*-------------------- ACERCA INDEX --------------------*/
#acerca .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
}

#acerca{ 
    background-color: rgb(255, 251, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#acerca p{margin: 20px 0px; font-weight: 700;}
#acerca form button{margin-top: 10px;}

/*-------------------- FOOTER --------------------*/
footer{
    margin: 0;
    height: 13vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("../images/17013-4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 200px;
    background-attachment: fixed;
    color: white;
    border-top: 4px solid rgba(0,0,0,.7);
    border-bottom: 4px solid rgba(0,0,0,.7);

}

footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer__links a{
    padding: 0 2px 10px 2px;
}

/*-------------------- heroesInformaticos.html --------------------*/

.hero-hI{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    )
    ,url("../images/26267-epicos.jpg");
}

.sobre-valhalla{ box-shadow: 20px 20px 100px white;}
.sobre-valhalla .container{text-align: center; max-width: 700PX;}
.sobre-valhalla .container h2{padding: 15vh 0 3vh 0; margin: 0;}
.sobre-valhalla__texto p{margin: 40px 20px; font-weight: 700;}

#turing .container{box-shadow: 20px 20px 100px white;}

#jobs{
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    )
    ,url("../images/26267-epicos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

#gates{
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    )
    ,url("../images/26267-epicos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.sobre-valalla__heroes .container{
    margin: 0;
    padding: 12vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 700PX;
}

.sobre-valalla__heroes .container h3{margin:10px ;}
.sobre-valalla__heroes p{margin: 20px 20px; font-weight: 700;}

#proximamente{box-shadow: 20px 20px 100px white;}
#proximamente .container{
    height: 300px;
    justify-content: center;
    align-items: center;
}

#hI__footer{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("../images/26267-epicos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*-------------------- odin.html --------------------*/

.hero-odin{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    )
    ,url("../images/69479-odin.jpg");
}


#sobre-odin .container{
    text-align: center;
    padding: 12vh 3vh 5vh 3vh;
    font-weight: bold;
    max-width: 900px;

}

#odin__footer{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("../images/69479-odin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/*--------------------DESKTOP thor.html --------------------*/
.hero-thor{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    )
    ,url("../images/69503-odin.jpg");

}

#sobre-thor .container{
    text-align: center;
    padding: 12vh 3vh 5vh 3vh;
    font-weight: bold;
    max-width: 900px;
}

#odin-padding{
    padding: 38px 22px 113px;
}

#thor__footer{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("../images/69503-odin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*--------------------DESKTOP contacto.html --------------------*/
#contacto-body{
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.55),
        rgba(0,0,0,.55)
    )
    ,url("../images/fantasíaFuturista_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#contacto{
    padding-top: 60px;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#contacto fieldset{
    width: 90vw;
    max-width: calc(0.9*440px);
    color: rgba(200,200,200,.95);
    height: 65vh;
    background-color: rgba(200,200,200,.1);
    border: 1px solid rgba(200,200,200,.4);
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
#contacto fieldset input{
    background-color:rgba(200,200,200,.3);
    border: 1px solid rgba(200,200,200,.4);
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

#contacto fieldset input:hover{
    background-color:rgba(200,200,200,.5);
}

#contacto fieldset textarea{
    background-color:rgba(200,200,200,.3);
    border: 1px solid rgba(200,200,200,.4);
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.contacto-input{
    width: 137px;
    height: 30px;
}

#contacto fieldset textarea:hover{background-color:rgba(200,200,200,.5);}
#contacto fieldset ::placeholder{color: rgba(200,200,200,.7);}

.contacto-footer{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fieldset-organizador{padding-top: 15px;}



/*-------------------- RESPONSIVE DESKTOP 720px --------------------*/
@media (min-width:720px){

    /*-------------------- DESKTOP GENERAL --------------------*/
    h1{font-size: 3.5em;}
    h2{margin: 10px 0;}

    /*-------------------- DESKTOP HEADER --------------------*/
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    .logo{padding-left: 22px;}
    .logo p{font-size: 1.8em;}
    .logo img{width: 40px; height: 40px;}
    header nav{align-items: center; padding: 0 10px 0 0;}

    /*-------------------- DESKTOP HERO--------------------*/
    .hero h1{margin-bottom: 60px;}
    .hero form button{
        margin-bottom: 10vh;
        font-size: 1.5em;
    }

    .hero{height: 100vh; background-position: center 60px;}

    /*-------------------- DESKTOP SECCION DIOSES INDEX--------------------*/
    .dioses .container{
        display: flex;
        justify-content: center;
    }

    .dioses .dioses__texto{
        width: 50%;
        text-align: initial;
        padding: 0 30px;
        max-width: 700PX;
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    .dioses .dioses__img-odin{
        background-image:url("../images/odin.png");
        background-size: cover;
        background-position: center center;
        width: 300px;
        height: 300px;
    }
    .dioses .dioses__img-thor{
        background-image:url("../images/thor_god_of_thunder_monochrome.png");
        background-size: cover;
        background-position: center center;
        width: 300px;
        height: 300px;
    }

    /*-------------------- DESKTOP FOOTER--------------------*/
    footer{height: 10vh;}
    footer .container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .footer__links{padding: 0 22px 0 0;}
    .footer__links a{margin: 0 5px;}

    /*-------------------- DESKTOP SECCION HEROES INFORMATICOS INDEX--------------------*/
    #hI{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #hI .hI__heroes{
        display: flex;
        justify-content: center;
    }

    #hI .heroes{padding: 30px;}

    #hI p{
        display: block;
        margin-bottom: 30px;
    }

    #hI h3{margin-top: 0;}

    /*-------------------- DESKTOP ACERCA INDEX--------------------*/
    #acerca {height: 90vh;}
    #acerca h2{font-size: 3.2em;}
    #acerca p{font-size: 1.3em;}

    #acerca .container{
        max-width: 900px;
        height: 70vh;
    }

    
    /*-------------------- DESKTOP heroesInformaticos.html--------------------*/
    #jobs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }
    #turing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }
    #gates{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }
    #proximamente{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }
    .sobre-valhalla .container h2{font-size: 3em;}
    .sobre-valhalla__texto p{font-size: 1.1em;}
    .sobre-valalla__heroes{height: 55vh;}

    /*--------------------DESKTOP odin.html --------------------*/
    #sobre-odin .container{
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobre-odin__logo{
        background-image: url("../images/odin_icon.png");
        background-size: cover;
        background-position: center center;
        width: 100px;
        height: 100px;
        margin: 30px;
    }
    /*--------------------DESKTOP thor.html --------------------*/
    #sobre-thor .container{
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobre-thor__logo{
        background-image: url("../images/1200px-Valknut.svg.png");
        background-size: cover;
        background-position: center center;
        width: 100px;
        height: 100px;
        margin: 30px;
    }

    /*--------------------DESKTOP contacto.html --------------------*/

    #contacto{padding-top: 150px;}
    .contacto-footer{
        min-width: 600px;
        margin: 10px 0;
        flex-direction: row;
        justify-content: space-between;
    }

}

/*-------------------- RESPONSIVE DESKTOP 520px --------------------*/
@media (min-width:520px){

    /*-------------------- DESKTOP heroesInformaticos.html --------------------*/
    .sobre-valhalla{height: 700px;}
}