.carousel-inner{
    max-height: 39rem;
}

body::-webkit-scrollbar{
    width: 10px;
    background: #414141 ;
}

body::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, .2) ;
    border-radius: 5px;
    border-right: 2px solid #414141;
}

:root {
    --main-bg-color: rgb(159, 90, 0);
  }

.valhalla-color{
    color: var(--main-bg-color);
}

.rango-icon{
    width: 60px;
}

.box-shadow{
    box-shadow: 4px 4px 20px rgba(0,0,0,.5) !important;
}



#heroes-index{
    box-shadow:  4px 4px 20px rgba(0,0,0,.5) !important;
}

.heroes-img{
    box-shadow: 4px 4px 20px rgba(0,0,0,.5) !important;
}

.valhalla-button{
    font-size: 1em;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    color: white;
    background-color: rgb(120, 68, 0);
}

.valhalla-button:hover{
    background-color: rgb(105, 52, 0);
    border: 1px solid rgba(200,200,200,.5);
}

.parallax-hI{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("../images/26267-epicos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.hI-deskHeight{
    height: 500px;
}

#formulario{
    height: 850px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("../images/fantasíaFuturista_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 50px;
    color: white;
    border-top: 4px solid rgba(0,0,0,.7);
    border-bottom: 4px solid rgba(0,0,0,.7);
}

#contacto{
    margin-top: 120px;
}


#contacto fieldset{
    padding: 0 50px 30px 50px;
    color: rgba(200,200,200, .95);
    background-color: rgba(200,200,200,.1);
    border: 1px solid rgba(200,200,200, 0.1);
    border-radius: 15px;
}

.fieldset-organizador{padding-top: 15px;}

#contacto fieldset input{
    background-color:rgba(200,200,200,.3);
    border: 1px solid rgba(200,200,200,.0);
    border-radius: 4px;
    color: white;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    transition: all 0.5s;
}

#contacto fieldset input:hover{
    background-color:rgba(200,200,200,.5);
}

#contacto fieldset input:focus{
    background-color:rgba(200,200,200,.5);
}

#contacto fieldset textarea{
    background-color:rgba(200,200,200,.3);
    border: 1px solid rgba(200,200,200,.1);
    border-radius: 4px;
    color: white;
    transition: all 0.5s;
}

.contacto-input{
    width: 49%;
}

#contacto fieldset textarea:hover{background-color:rgba(200,200,200,.5);}
#contacto fieldset textarea:focus{background-color:rgba(200,200,200,.5);}
#contacto fieldset ::placeholder{color: rgba(200,200,200,.7);}

.fieldset-organizador{padding-top: 15px;}

.valhalla-footer{
    margin: 0;
    height: 70px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("../images/17013-4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 200px;
    background-attachment: fixed;
    color: white;
    border-top: 4px solid rgba(0,0,0,.7);
    border-bottom: 4px solid rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.valhalla-footer-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
}

.valhalla-logo{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.valhalla-logo img{
    width: 35px;
    height: 35px;
}

.valhalla-logo-text{
    font-weight: 400;
    font-size: 1.4em;
    margin: auto;
    padding-left: 8px;
    text-decoration: none;
    color: rgb(200, 200, 200);
    transition: color 0.5s;
}

.valhalla-logo-text:hover{
    color: white;
}

.valhalla-footer-links-container{
    margin-right: 15px;
}

.valhalla-footer-links{
    padding: 0 5px !important;
    text-decoration: none;
    color: rgb(200, 200, 200);
    transition: color 0.5s !important;
}

.valhalla-footer-links:hover{
    color: white;
}

.valhalla-footer-odin{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("../images/odin2.jpg");
}

.valhalla-footer-thor{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("../images/thor.jpeg");
}

.valhalla-footer-hI{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("../images/hI.jpg");
}

.valhalla-footer-contacto{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.0),
        rgba(0,0,0,.0)
    );
    border: 0px;
    background-position: center center;
}



@media (max-width:768px){

    #intro, #AcercaValhalla, #intro-odin, #intro-thor, #stevejobs, #alanturing, #billgates, #snakamoto{
        width: 90% !important;
    }

    .heroes-fila{
        width: 100% !important;
        text-align: center;
    }

    .valhalla-footer-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .carousel-inner{
        max-height: 40vh;
    }

    .rango-icon{
        width: 50px;
    }

    .hI-deskHeight{
        height: auto;
    }
}

@media (max-width:576px){

    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}